<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
       <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
		<% include header.ejs %><!--/header-->

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1><%=result[0].type%></h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Blog Post -->
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h2><%=result[0].subject%></h2>
							</div>

							<div class="single-post-image" style="height: 80%">
								<% if(result[0].embeddedLink.search("<iframe")>=0){ %>
									<iframe width="100%" height="100%" src="<%= result[0].embeddedLink.split("\"")[5] %>" frameborder="0" allowfullscreen></iframe>
								<%}else{%>
									<img src="<%= result[0].embeddedLink.split("\"")[1]%>" alt="Smiley face" height="100%" width="100%">	
								<%}%>
							</div>
							<div class="single-post-info">
								<i class="glyphicon glyphicon-time"></i><%=result[0].createDate%>
							</div>	
							<script>

							</script>					
							<div rows="15" style="background-color: <%=result[0].backgroundColor%>;">
									<h4><p class="content">
											<%=result[0].content%>
									</p></h4>
											
									
									
								</div>
						</div>
					</div>
					
					<!-- End Blog Post -->
					<!-- Sidebar -->
					
					<!-- End Sidebar -->
				</div>
			</div>
	    </div>
		  <!-- Footer -->
		  <% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>(+84)  962538126</p></font></strong> </Button></div>
		
        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>		

    </body>
</html>