<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>
	<link rel="icon" type="image/x-icon" sizes="32x32" href="/img/icons/econsult.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Công ty luật EConsult</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
       <!--<embed type="text/html" class=" navbar-fixed-top" style="height:16%;width:100%" src="header.html">-->
	<!-- header -->
	<% include header.ejs %>
	<script>
		var myData = <%- JSON.stringify(resultTotal) %>;
	</script>
	<div class="section section-no-padding pt120px">
		<div class="container">
			<!-- main news -->
			<div class="col-sm-6 w75p">
				<div class="blog-post blog-single-post">
					<div class="single-post-title">
						<h2><%= resultTotal.resultNewest[0].title %></h2>
					</div>
					<div class="single-post-image">
						<% if(resultTotal.resultNewest[0].embeddedLink.search("<iframe")>=0){ %>
							<iframe width="100%" height="100%" src="<%= resultTotal.resultNewest[0].embeddedLink.split("\"")[5] %>" frameborder="0" allowfullscreen></iframe>
						<%}else{%>
							<img src="<%= resultTotal.resultNewest[0].embeddedLink.split("\"")[1]%>" alt="Smiley face" height="100%" width="100%">	
						<%}%>
					</div>
					<div class="single-post-info">
						<i class="glyphicon glyphicon-time"></i><%= resultTotal.resultNewest[0].createDate %>
					</div>
					
					<div class="single-post-content">
						<%= resultTotal.resultNewest[0].content.substring(0,600)%>
						<form id="detailForm" action="detailPage" method="post">
							<input type="hidden" name="pageID" id="pageID" value="<%= resultTotal.resultNewest[0]._id %>" >
							<button type="submit" style="border:none; background-color:transparent; height:100%; width:100%;">Đọc tiếp ...
							</button>
						</form>
					</div>
				</div>
			</div>
			<!-- end-main news -->
			<!-- curren posts -->
			<% resultTotal.resultNewestRelated.forEach(function(resultNewestRelated){%>
				<div class="col-sm-6 w25p">
					<div class="blog-post blog-current-post">
						<div class="single-post-title">
							<h4><%= resultNewestRelated.title %></h4>
						</div>
						<div class="col-xs-4">
							<form id="detailForm" action="detailPage" method="post">
								<input type="hidden" name="pageID" id="pageID" value="<%= resultNewestRelated.id %>" >
								<button type="submit" style="border:none; background-color:transparent; height:100%; width:100%;">
									<% if(resultNewestRelated.embeddedLink.search("<iframe")>=0){ %>
										<iframe width="100%" height="100%" src="<%= resultTotal.resultNewest[0].embeddedLink.split("\"")[5] %>" frameborder="0" allowfullscreen></iframe>
									<%}else{%>
										<img src="<%= resultNewestRelated.embeddedLink.split("\"")[1]%>" alt="Smiley face" height="100%" width="100%">	
									<%}%>
								</button>
							</form>
						</div>
						<div class="current-post-info">
							<i class="glyphicon glyphicon-time"></i><%= resultNewestRelated.createDate %>
						</div>
					</div>
				</div>
			<%});%>
			<!-- end-curren posts -->
		</div>
	</div>

	<hr>

	<div class="section section-no-padding">
		<div class="container">
			<div class="row">
				<!-- Featured News -->
				<div class="col-sm-9 featured-news">
				
					<!-- News -->
					<h3>
						<a>
							<form id="myForm" action="newsPost" method="get"> 
								<button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Các bài viết báo chí</button>
							</form>
						</a>
					</h3>
					<% resultTotal.resultNews.forEach(function(resultNews){%>
						<div class="row">
							<div class="col-xs-3">
								<form id="detailForm" action="detailPage" method="post">
									<input type="hidden" name="pageID" id="pageID" value="<%= resultNews.id %>" >
									<button type="submit" style="border:none; background-color:transparent; height:100%; width:100%;">
										<% if(resultNews.embeddedLink.search("<iframe")>=0){ %>
											<iframe width="100%" height="100%" src="<%= resultTotal.resultNewest[0].embeddedLink.split("\"")[5] %>" frameborder="0" allowfullscreen></iframe>
										<%}else{%>
											<img src="<%= resultNews.embeddedLink.split("\"")[1]%>" alt="Smiley face" height="100%" width="100%">	
										<%}%>
									</button>
								</form>
							</div>
							<div class="col-xs-8">
								<div class="caption">
									<form id="detailForm" action="detailPage" method="post">
										<input type="hidden" name="pageID" id="pageID" value="<%= resultNews.id %>" >
										<button type="submit" style="border:none; background-color:transparent; height:100%; width:100%;">
											<%=  resultNews.title %>
										</button>
									</form>
								</div>
								<div class="date"><%=  resultNews.createDate %></div>
								<div class="intro">
									<%= resultNews.content.substring(0, 140) %>
									<form id="detailForm" action="detailPage" method="post">
										<input type="hidden" name="pageID" id="pageID" value="<%= resultNews.id %>" >
										<button type="submit" style="border:none; background-color:transparent; height:100%; width:100%;">Đọc tiếp...</button>
									</form>
								</div>
							</div>
						</div>
					<%});%>
					<hr>
					
					<!-- Notification -->
					<h3>
						<a>
							<form id="myForm" action="notiPost" method="get"> 
								<button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Thông báo</button>
							</form>
						</a>
					</h3>
					<% resultTotal.resultNotice.forEach(function(resultNotice){%>
						<div class="row">
							<div class="col-xs-3">
								<form id="detailForm" action="detailPage" method="post">
									<input type="hidden" name="pageID" id="pageID" value="<%= resultNotice.id %>" >
									<button type="submit" style="border:none; background-color:transparent; height:100%; width:100%;">
										<% if(resultNotice.embeddedLink.search("<iframe")>=0){ %>
											<iframe width="100%" height="100%" src="<%= resultTotal.resultNewest[0].embeddedLink.split("\"")[5] %>" frameborder="0" allowfullscreen></iframe>
										<%}else{%>
											<img src="<%= resultNotice.embeddedLink.split("\"")[1]%>" alt="Smiley face" height="100%" width="100%">	
										<%}%>
									</button>
								</form>
							</div>
							<div class="col-xs-8">
								<div class="caption">
									<form id="detailForm" action="detailPage" method="post">
										<input type="hidden" name="pageID" id="pageID" value="<%= resultNotice.id %>" >
										<button type="submit" style="border:none; background-color:transparent; height:100%; width:100%;">
											<%=  resultNotice.title %>
										</button>
									</form>
								</div>
								<div class="date"><%=  resultNotice.createDate %></div>
								<div class="intro">
									<%= resultNotice.content.substring(0, 140) %>
									<form id="detailForm" action="detailPage" method="post">
										<input type="hidden" name="pageID" id="pageID" value="<%= resultNotice.id %>" >
										<button type="submit" style="border:none; background-color:transparent; height:100%; width:100%;">Đọc tiếp...</button>
									</form>
								</div>
							</div>
						</div>
					<%});%>
					<hr>
					
					<!-- Event -->
					<h3>
						<a>   
							<form id="myForm" action="eventPost" method="get"> 
								<button style="border: none;background-color: transparent;height: 100%;width: 100%;text-align: left" type="submit" >Sự kiện</button>
							</form>
						</a>
					</h3>
					<% resultTotal.resultEvent.forEach(function(resultEvent){%>
						<div class="row">
							<div class="col-xs-3">
								<form id="detailForm" action="detailPage" method="post">
									<input type="hidden" name="pageID" id="pageID" value="<%= resultEvent.id %>" >
									<button type="submit" style="border:none; background-color:transparent; height:100%; width:100%;">
										<% if(resultEvent.embeddedLink.search("<iframe")>=0){ %>
											<iframe width="100%" height="100%" src="<%= resultTotal.resultNewest[0].embeddedLink.split("\"")[5] %>" frameborder="0" allowfullscreen></iframe>
										<%}else{%>
											<img src="<%= resultEvent.embeddedLink.split("\"")[1]%>" alt="Smiley face" height="100%" width="100%">	
										<%}%>
									</button>
								</form>
							</div>
							<div class="col-xs-8">
								<div class="caption">
									<form id="detailForm" action="detailPage" method="post">
										<input type="hidden" name="pageID" id="pageID" value="<%= resultEvent.id %>" >
										<button type="submit" style="border:none; background-color:transparent; height:100%; width:100%;">
											<%=  resultEvent.title %>
										</button>
									</form>
								</div>
								<div class="date"><%=  resultEvent.createDate %></div>
								<div class="intro">
									<%= resultEvent.content.substring(0, 140) %>
									<form id="detailForm" action="detailPage" method="post">
										<input type="hidden" name="pageID" id="pageID" value="<%= resultEvent.id %>" >
										<button type="submit" style="border:none; background-color:transparent; height:100%; width:100%;">Đọc tiếp...</button>
									</form>
								</div>
							</div>
						</div>
					<%});%>
					
				</div>
				<!-- End Featured News -->
				<!-- Latest News -->
				<div class="col-sm-3">
							
				</div>
				<!-- End Featured News -->
			</div>
		</div>
	</div>
	<% include footer.ejs %>
		<div id="fixedBottom" style="background-image: url('img/resizeHotLine.jpg');height:80px;width:450px"><Button  class="primary-btn col-xs-11 text-left" id="fixedBottomButton"><strong><font size="5" color="#FAFAFA"><p>EConsult</p><p>0989633596</p></font></strong> </Button></div>
		

	<!-- Javascripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="js/bootstrap.min.js"></script>
	
	<!-- Scrolling Nav JavaScript -->
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/scrolling-nav.js"></script>		

</body>
</html>
